<div class="sidebar">
  <div class="popup">
    <div class="popup_header">
      <span class="popup_close" (click)="closeMenu()"><img class="close" src="/assets/img/34.png" alt=""></span>
    </div>
    <div class="popup_body">
      <div class="bd"><a class="body__inner" href="../">Main</a></div>
      <div class="bd"><a href="./ourcomand/" class="body__inner">Contacts</a></div>
      <div class="bd"><a href="./reviews/" class="body__inner">Testimonials</a></div>
      <div class="bd"><a href="./transport/" class="body__inner">Online evaluation</a></div>
      <div class="bd"><a href="./politic/" class="body__inner">Our team</a></div>
      <div class="bd"><a href="./politic/" class="body__inner">Blog</a></div>
      <div class="bd"><a href="./politic/" class="body__inner">About Us</a></div>
      <div class="bd"><a href="./politic/" class="body__inner">Legal Info</a></div>
    </div>
    <div class="popup_footer">

      <a class="block__innner" href="https://t.me/kupimUA">
        <nav class="block_inner">
          <img class="inner_img" src="/assets/img/global/watsapp.svg" alt="">
        </nav>
      </a>
      <a class="block__innner" href="https://t.me/kupimUA">
        <nav class="block_inner">
          <img class="inner_img" src="/assets/img/Telegram.svg" alt="">
        </nav>
      </a>
      <a class="block__innner" href="viber://chat?number=0979314681">
        <nav class="block_inner">
          <img class="inner_img" src="/assets/img/global/messanger.svg" alt="">
        </nav>
      </a>
      <a class="block__innner phone" href="tel: +38 097 931-46-81">
        <nav class="block_inner">
          <img class="inner_img" src="/assets/img/global/phone.svg" alt="">
        </nav>
      </a>
      <a class="block__innner facebook" href="#">
        <nav class="block_inner">
          <img class="inner_img" src="/assets/img/global/facebook.svg" alt="">
        </nav>
      </a>

    </div>
  </div>