<div id="mypopup" class="popup">
  <div class="popup_header">
    <div><a href="./" class="headerr__inner">Main</a></div>
    <span><img class="close" src="/assets/img/34.png" alt=""></span>
  </div>
  <div class="popup_body">
    <div class="bd"><a href="./contact/" class="body__inner">Contacts</a></div>
    <div class="bd"><a href="./ourcomand/" class="body__inner">Our team</a></div>
    <div class="bd"><a href="./reviews/" class="body__inner">Testimonials</a></div>
    <div class="bd"><a href="./transport/" class="body__inner">Choice of transportation</a></div>
    <div class="bd"><a href="./politic/" class="body__inner">Policy Conf.</a></div>
  </div>
  <div class="popup_footer">

    <a class="block__innner" href="https://t.me/kupimUA">
      <nav class="block_inner">
        <img class="inner_img" src="../../../assets/img/Telegram.svg" alt="">
        <div class="inner_title">CONNECT</div>
      </nav>
    </a>
    <a class="block__innner" href="viber://chat?number=0979314681">
      <nav class="block_inner">
        <img class="inner_img" src="../../../assets/img/Viber.svg" alt="">
        <div class="inner_title">CONNECT</div>
      </nav>
    </a>

  </div>