<div class="sidebar">
  <div class="popup">
    <div class="popup_body">
      <div class="bd"><a class="body__inner" (click)="openPage('/')">Main</a></div>
      <div class="bd"><a class="body__inner" (click)="openPage('/contacts')">Contacts</a></div>
      <div class="bd"><a class="body__inner" (click)="openPage('/feedback')">Testimonials</a></div>
      <div class="bd"><a class="body__inner" (click)="openPage('/evaluation')">Online evaluation</a></div>
      <div class="bd"><a class="body__inner" (click)="openPage('/team')">Our team</a></div>
      <div class="bd"><a class="body__inner" (click)="openPage('/blog')">Blog</a></div>
      <div class="bd"><a class="body__inner" (click)="openPage('/about-us')">About Us</a></div>
      <div class="bd"><a class="body__inner" (click)="openPage('/info')">Legal Info</a></div>
    </div>
    <div class="popup_footer">

      <a class="block__innner" href="https://t.me/kupimUA">
        <nav class="block_inner">
          <img class="inner_img" src="/assets/img/WhatsApp.svg" alt="">
        </nav>
      </a>
      <a class="block__innner" href="https://t.me/kupimUA">
        <nav class="block_inner">
          <img class="inner_img" src="/assets/img/Telegram.svg" alt="">
        </nav>
      </a>
      <a class="block__innner" href="viber://chat?number=0979314681">
        <nav class="block_inner">
          <img class="inner_img" src="/assets/img/global/messanger.svg" alt="">
        </nav>
      </a>
      <a class="block__innner phone" href="tel: +38 097 931-46-81">
        <nav class="block_inner">
          <img class="inner_img" src="/assets/img/global/phone.svg" alt="">
        </nav>
      </a>
    </div>
  </div>