.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.95);
}

.popup {
  padding: 2.2vmin 3.5vmin;
  z-index: 10;
  overflow-x: hidden;
  border-radius: 4.5vmin;
  transition: all 1s ease-in;
  animation: animator 0.5s;

  .popup_header {
    display: flex;
    justify-content: flex-end;
    margin: 3vmin 0 -1.3vmin 0;
    padding: 0 3vmin;

    .headerr__inner {
      font-size: 2.5vmin;
      text-decoration: none;
      color: white;
    }

    .popup_close {
      cursor: pointer;
    }

    .close {
      margin-top: -1.5vmin;
      cursor: pointer;
      width: 2.6vmin;
    }
  }

  .popup_body {
    padding: 0.2vmin 0;
    display: flex;
    align-items: center;
    gap: 1.3vmin;
    flex-direction: column;

    .bd {
      text-align: center;
      cursor: pointer;

      .body__inner {
        margin: 0 2vmin 0 3vmin;
        font-size: 2.5vmin;
        text-decoration: none;
        color: white;
      }
    }
  }

  .popup_footer {
    margin: 3vmin 0;
    padding: 0.2vmin 1.6vmin;
    display: flex;
    justify-content: center;
    gap: 1.5vmin;

    .block__innner {
      text-decoration: none;
      display: flex;
      justify-content: center;
      flex-direction: row;

      &.phone,
      &.facebook {
        display: none;

        @media (max-width: 720px) {
          display: block;
        }
      }

      .block_inner {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        .inner_img {
          width: 4.8vmin;

        }

      }
    }
  }

  .popup-contetn {
    position: relative;
    background-color: #000000;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
  }

}

@keyframes animator {
  from {
    transform: translateY(-1000px);
  }

  to {
    transform: translateY(0);
  }
}
