.popup {
  padding: 22px 35px;
  display: none;
  position: fixed;
  z-index: 1;
  width: auto;
  top: 21%;
  left: 41%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
  background-color: white;
  border-radius: 45px;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
  -webkit-box-shadow: 0 0 750px 1200px rgba(36, 35, 35, 0.7);
  box-shadow: 0 0 750px 1200px rgba(36, 35, 35, 0.7);

  .popup_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 30px 0 -13px 0;
    padding: 0 30px;

    .headerr__inner {
      font-size: 25px;
      text-decoration: none;
      color: #202227;

      .close {
        margin-top: -15px;
        cursor: pointer;
      }
    }
  }

  .popup_body {
    padding: 2px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .bd {
      padding: 9px 0 0 0;

      .body__inner {
        margin: 0 20px 0 30px;
        font-size: 25px;
        text-decoration: none;
        color: #202227;
      }
    }
  }

  .popup_footer {
    margin-bottom: 30px;
    padding: 2px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;

    .block__innner {
      text-decoration: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      margin: 30px 0 0 0px;

      .block_inner {
        width: 180px;
        margin: 0 0 -8px 0;
        height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border-radius: 15px;
        -webkit-box-shadow: 0 0 12px 5px #cfcfcf;
        box-shadow: 0 0 12px 5px #cfcfcf;

        &:hover {
          .inner_title {
            color: #757373;
          }
        }

        .inner_img {
          width: 42px;
          margin: 5px 0 0 10px;
        }

        .inner_title {
          font-size: 14px;
          color: #535050;
          font-weight: 500;
          padding: 15px 10px 15px 0;
        }


      }
    }
  }

  .popup-contetn {
    position: relative;
    background-color: #000000;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    -webkit-animation-name: animator;
    animation-name: animator;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
  }

}

@-webkit-keyframes animator {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animator {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}