<div class="about">
  <div class="abour_container">
      <h3 class="about_log_h">
          <span class="about_log">How It Works?</span>
          <span class="about_undelog">Sell in 1 day - Yes, it's possible!</span>
      </h3>

      <div class="about_inner">
          <div class="about_inner_step1">
              <img class="step1_img1" src="/assets/img/laptop/evaluate.svg" alt="Simply share photos and details through your preferred messaging platform">
              <div class="step1_log">Step 1</div>
              <div class="step1_underlog">Simply share photos and details through your preferred messaging platform</div>
            <a class="block__innner" target="_blank" href="http://m.me/buddycash01">
              <nav class="block_inner">
                <img
                  class="inner_img"
                  src="/assets/img/base_icon/facebook-messenger-base.webp"
                  alt="Messenger Facebook Messenge"
                />
                <div class="inner_title">SEND</div>
              </nav>
            </a>
            <a class="block__innner" href="https://t.me/buddy_cashFL">
              <nav class="block_inner">
                <img
                  class="inner_img"
                  src="/assets/img/base_icon/telegram-base.webp"
                  alt="Messenger Telegram"
                />
                <div class="inner_title">SEND</div>
              </nav>
            </a>
            <a class="block__innner" target="_blank" href="mailto:buddycash.fl@gmail.com">
                  <nav class="block_inner">
                      <img class="inner_img" src="/assets/img/online-appraisal/mail.png" alt="Messenger Mail">
                      <div class="inner_title">SEND</div>
                  </nav>
              </a>
              <a class="block__innner" href="https://t.me/buddy_cashFL">
                  <nav class="block_inner">
                      <img class="inner_img" src="/assets/img/online-appraisal/Instagram.png" alt="Messenger Instagram">
                      <div class="inner_title">SEND</div>
                  </nav>
              </a>
              <a class="block__innner" href="https://wa.me/7275091449">
                  <nav class="block_inner">
                      <img class="inner_img" src="/assets/img/base_icon/whatsapp-base.webp" alt="Messenger Whatsapp">
                      <div class="inner_title">SEND</div>
                  </nav>
              </a>
          </div>
          <div class="about_inner_brd"></div>
          <div class="about_inner_step1">
              <img class="step1_img2" src="/assets/img/laptop/map.svg" alt="Schedule a convenient in-person evaluation at our office or your location">
              <div class="step1_log">Step 2</div>
              <div class="step1_underlog">Schedule a convenient in-person evaluation at our office or your location</div>
          </div>
          <div class="about_inner_brd"></div>
          <div class="about_inner_step1">
              <img class="step1_img3" src="/assets/img/laptop/deal.svg" alt="Receive immediate payment through your preferred method: cash, digital transfer, or check">
              <div class="step1_log">Step 3</div>
              <div class="step1_underlog">Receive immediate payment through your preferred method: cash, digital transfer, or check</div>
          </div>
      </div>
  </div>
</div>
