<div class="about">
  <div class="abour_container" *ngIf="easyStepData">
    <h2 class="about_log_h">
      <span class="about_log">{{ easyStepData.title }}</span>
      <span class="about_undelog">{{ easyStepData.text }}</span>
    </h2>

    <div class="about_inner">
      <div class="about_inner_step1">
        <img
          class="step1_img1"
          src="/assets/img/laptop/evaluate.webp"
          alt="Send us photos of your device"
        />
        <div class="step1_log">{{ easyStepData.contentStep1?.step }}</div>
        <div class="step1_underlog">
          {{ easyStepData.contentStep1?.stepText }}
        </div>
        <a class="block__innner" target="_blank" href="http://m.me/buddycash01">
          <nav class="block_inner">
            <img
              class="inner_img"
              src="/assets/img/base_icon/facebook-messenger-base.webp"
              alt="Messenger Facebook Messenge"
            />
            <div class="inner_title">
              {{ easyStepData.contentStep1?.contact }}
            </div>
          </nav>
        </a>
        <a class="block__innner" href="https://t.me/buddy_cashFL">
          <nav class="block_inner">
            <img
              class="inner_img"
              src="/assets/img/base_icon/telegram-base.webp"
              alt="Messenger Telegram"
            />
            <div class="inner_title">
              {{ easyStepData.contentStep1?.contact }}
            </div>
          </nav>
        </a>
        <a class="block__innner" href="https://wa.me/7275091449">
          <nav class="block_inner">
            <img
              class="inner_img"
              src="/assets/img/base_icon/whatsapp-base.webp"
              alt="Messenger Whatsapp"
            />
            <div class="inner_title">
              {{ easyStepData.contentStep1?.contact }}
            </div>
          </nav>
        </a>
      </div>
      <div class="about_inner_brd"></div>
      <div class="about_inner_step1">
        <img
          class="step1_img2"
          src="/assets/img/laptop/map.webp"
          alt="Schedule an inspection location"
        />
        <div class="step1_log">{{ easyStepData.contentStep2?.step }}</div>
        <div class="step1_underlog">
          {{ easyStepData.contentStep2?.stepText }}
        </div>
      </div>
      <div class="about_inner_brd"></div>
      <div class="about_inner_step1">
        <img
          class="step1_img3"
          src="/assets/img/laptop/deal.webp"
          alt="Get your cash payment"
        />
        <div class="step1_log">{{ easyStepData.contentStep3?.step }}</div>
        <div class="step1_underlog">
          {{ easyStepData.contentStep3?.stepText }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="linear {{ easyStepData.style }}">
  <img
    src="/assets/img/easy-steps/Map_Florida.webp"
    alt="Office Locations"
  />
  <div class="linear_location">
    <h4 class="linear_location_title">Office Locations Buddy Cash:</h4>
    <strong class="linear_location_city">Pawnshop Miami - 25 NE 5th St, Miami, FL 33132</strong>
    <strong class="linear_location_city ">Pawnshop Tampa - 323 W Palm Ave, Tampa, FL 33602</strong>
    <strong class="linear_location_city ">Pawnshop Orlando – 742 Carter St, Orlando, FL 32805</strong>
    <strong class="linear_location_city ">Pawnshop Jacksonville - 100 E Forsyth St, Jacksonville, FL 32202</strong>
    <br>
    <p class="linear_location_text text">Statewide pickup service is available free of charge throughout Florida, including the following cities:</p>
    <p class="linear_location_text text">North Florida: Jacksonville, Tallahassee, Gainesville, Pensacola, Panama City, Lake City, St. Augustine, Fernandina Beach, Live Oak, Milton, Fort Walton Beach, Niceville, Perry, Palatka, Starke.</p>
    <p class="linear_location_text text">Central Florida: Orlando, Tampa, St. Petersburg, Clearwater, Lakeland, Ocala, Daytona Beach, Melbourne, Winter Haven, Spring Hill, Titusville, Plant City, Lady Lake, Zephyrhills, Winter Garden, Sarasota.</p>
    <p class="linear_location_text text">South Florida: Miami, Fort Lauderdale, West Palm Beach, Naples, Fort Myers, Boca Raton, Pompano Beach, Hollywood, Coral Springs, Hialeah, Pembroke Pines, Boynton Beach, Delray Beach, Jupiter, Port St. Lucie.</p>
  </div>
</div>
