<div class="about">
    <div class="abour_container" *ngIf="easyStepData">
        <div class="about_log">{{easyStepData.title}}</div>
        <div class="about_undelog">{{easyStepData.text}}</div>
        <div class="about_inner">
            <div class="about_inner_step1">
                <img class="step1_img1" src="/assets/img/laptop/evaluate.svg" alt="Оценить">
                <div class="step1_log">{{easyStepData.contentStep1?.step}}</div>
                <div class="step1_underlog">{{easyStepData.contentStep1?.stepText}}</div>
                <a class="block__innner" href="">
                    <nav class="block_inner">
                        <img class="inner_img" src="/assets/img/global/messanger.svg" alt="Telegram">
                        <div class="inner_title">{{easyStepData.contentStep1?.contact}}</div>
                    </nav>
                </a>
                <a class="block__innner" href="">
                    <nav class="block_inner">
                        <img class="inner_img" src="/assets/img/global/messanger.svg" alt="Messenger">
                        <div class="inner_title">{{easyStepData.contentStep1?.contact}}</div>
                    </nav>
                </a>
                <a class="block__innner" href="">
                    <nav class="block_inner">
                        <img class="inner_img" src="/assets/img/global/watsapp.svg" alt="Watsap">
                        <div class="inner_title">{{easyStepData.contentStep1?.contact}}</div>
                    </nav>
                </a>
            </div>
            <div class="about_inner_brd"></div>
            <div class="about_inner_step1">
                <img class="step1_img2" src="/assets/img/laptop/map.svg" alt="Карта">
                <div class="step1_log">{{easyStepData.contentStep2?.step}}</div>
                <div class="step1_underlog">{{easyStepData.contentStep2?.stepText}}</div>
            </div>
            <div class="about_inner_brd"></div>
            <div class="about_inner_step1">
                <img class="step1_img3" src="/assets/img/laptop/deal.svg" alt="Сделка">
                <div class="step1_log">{{easyStepData.contentStep3?.step}}</div>
                <div class="step1_underlog">{{easyStepData.contentStep3?.stepText}}</div>
            </div>
        </div>
    </div>
</div>

<div class="linear {{easyStepData.style}}">
</div>