# Включаем механизм переписывания
RewriteEngine On

# Перенаправление с HTTP на HTTPS и удаление www
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(www\.)?buddy-cash\.com$ [NC]
RewriteRule ^ https://buddy-cash.com%{REQUEST_URI} [L,R=301]

# Перенаправление с www на non-www для HTTPS запросов
RewriteCond %{HTTPS} on
RewriteCond %{HTTP_HOST} ^www\.buddy-cash\.com$ [NC]
RewriteRule ^ https://buddy-cash.com%{REQUEST_URI} [L,R=301]

# Перенаправление всех запросов на index.html, если файл или папка не существуют
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /index.html [L]
