.select {
  height: auto;
  padding: 0 5vmin;

  @media (max-width: 720px) {
    padding: 0 1.6vmin;
  }

  &.hide {
    display: none;
  }

  .select_mark {
    font-size: 5vmin;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    color: #535050;
    padding: 5vmin 0;
    text-align: center;
  }

  .select_brend {
    font-size: 3vmin;
    color: #454444;
    padding: 1vmin 0 3vmin 0;
  }

  .brend_inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (max-width: 720px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

    .inner_serf {
      width: 19vmin;
      margin-right: 3.5vmin;

      @media (max-width: 720px) {
        margin-right: 0;
        width: 16.5vmin;
      }

      &:hover {
        .inner_cont {
          -webkit-transform: scale(1.08);
          transform: scale(1.08);
        }
      }
    }

    .inner_cont {
      width: 19vmin;
      transition: 0.3s ease;
      object-fit: cover;

      @media (max-width: 720px) {
        width: 100%;
      }
    }
  }
}
