.select {
  height: auto;
  padding: 0 50px;

  @media (max-width: 720px) {
    padding: 0 16px;
  }

  &.hide {
    display: none;
  }

  .select_mark {
    font-size: 50px;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    color: #535050;
    padding: 50px 0;
  }

  .select_brend {
    font-size: 30px;
    color: #454444;
    padding: 10px 0 30px 0;
  }

  .brend_inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (max-width: 720px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
    }

    .inner_serf {
      width: 190px;
      margin-right: 35px;

      @media (max-width: 720px) {
        margin-right: 0;
        width: 165px;
      }

      &:hover {
        .inner_cont {
          -webkit-transform: scale(1.08);
          transform: scale(1.08);
        }
      }
    }

    .inner_cont {
      width: 190px;
      transition: 0.3s ease;
      object-fit: cover;

      @media (max-width: 720px) {
        width: 100%;
      }
    }
  }
}