<section class="welcome" *ngIf="welcomeDataPage">
  <div class="header {{welcomeDataPage?.bgImage}}">
    <div class="header___container">
      <div class="header_inner">
        <div class="header_inner_navigation">
          <div class="icon_row">
            <a class="icon" href="https://wa.me/7275091449"><img class="navigation_network"
                src="/assets/img/WhatsApp.webp" alt="WhatsApp"></a>
            <a class="phone" href="tel: +17275091449"><img class="navigation_network"
                src="/assets/img/global/Phone.webp" alt="Phone"></a>
            <a class="icon" href="https://t.me/buddy_cashFL"><img class="navigation_network" src="/assets/img/Telegram.webp"
                alt="telegram"></a>
            <a class="icon" target="_blank" href="m.me/100068472144079?hash=AbZpoaenoSiWUWWU&source_id=6946816"><img src="/assets/img/global/Facebook.webp"
                alt="Messanger"></a>

          </div>

          <div class="navigation_contact">
            <nav><a class="contact_inner {{welcomeDataPage.styleClass}}" href="tel: +17275091449 ">+1 727 732
                9785</a></nav>
            <nav class="contact_inner {{welcomeDataPage.styleClass}}">{{welcomeDataPage.state ? welcomeDataPage.state :
              'Florida' }}</nav>

          </div>
        </div>
        <div class="header_menu {{(isSidebar$ | async) ? 'active' : ''}}" id="burger" (click)="openMenu()">
          <img *ngIf="!(isSidebar$ | async)" class="menu_img" src="/assets/img/menu.svg" alt="menu">
          <img *ngIf="(isSidebar$ | async)" class="menu_img" src="/assets/img/close_menu.png" alt="menu">
          <div class="menu_list">MENU</div>
        </div>
      </div>
      <div class="header_link">
        <div class="header_nav_main">
          <nav><a class="nav_main_inner" (click)="useRoute('/')">Main</a></nav>
          <nav><a class="nav_main_inner" (click)="useRoute('/contacts')">Contacts</a></nav>
          <nav><a class="nav_main_inner" (click)="useRoute('/review')">Reviews</a></nav>
        </div>
      </div>
      <div class="header_home_title {{welcomeDataPage.class}}">

        <img class="header_home {{welcomeDataPage.bgImage}}" [src]="welcomeDataPage.image" alt="">

        <div class="header_title">

          <h1 class="header_title_inner {{welcomeDataPage.class}}" [innerHTML]="welcomeDataPage.title"></h1>
          <span *ngIf="welcomeDataPage.location;else noInfo" class="header_title_inner2 {{welcomeDataPage.class}}">
            (State {{state ? state : 'Florida'}})</span>
          <ng-template #noInfo>
            <span class="header_title_inner2 {{welcomeDataPage.class}}"></span>
          </ng-template>

          <div class="gif {{welcomeDataPage.class}}">
            <img src="/assets/img/global/slide.gif" alt="Slide">
          </div>
        </div>
      </div>
      <div class="header_loft">
        <div class="loft_inner">{{welcomeDataPage.description}}</div>
      </div>

    </div>
  </div>
</section>