.welcome {
  height: 100%;

  .header {
    height: -webkit-fill-available;
    padding: 75px 0 90px 0;

    @media (max-width: 620px) {
      padding: 0;
    }

    .header___container {
      max-width: 1720px;
      width: 100%;
      margin: 0 auto;
      -webkit-box-shadow: 0px 0px 80px 1px #221414;
      box-shadow: 0px 0px 80px 1px #221414;

      position: relative;


      @media (max-width: 1740px) {
        width: 90%;
      }

      @media (max-width: 620px) {
        width: 75%;
        
        height: -webkit-fill-available;
      }

      .header_inner {
        padding: 30px 30px 25px 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        @media (max-width: 720px) {
          padding: 0px 14px 25px 0px;
          align-items: flex-start;
        }


        .header_inner_navigation {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;

          @media (max-width: 720px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 20px 0 0 0;
          }

          a {
            &:hover {
              transform: scale(1.07);
            }
          }

          .phone {
            display: none;

            &:hover {
              transform: scale(1.07);
            }

            @media (max-width: 720px) {
              display: block;
              width: 80px;
            }
          }

          .icon {
            background-color: white;
            border-radius: 10px;
            width: 55px;
            height: 55px;
            margin-top: 14px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              transform: scale(1.07);
            }

            @media (max-width: 620px) {
              margin: 0;
            }

            img {
              width: 80%;
              height: 80%;
              object-fit: cover;
            }

          }

          .navigation_network {
            width: 85px;
          }



          .navigation_contact {
            padding: 15px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-pack: distribute;
            justify-content: space-around;

            @media (max-width: 720px) {
              display: none;
            }

            .contact_inner {
              font-size: 24px;
              color: white;
              text-decoration: none;

              &.contactss {
                color: #47494d;
              }
            }

            .contact_inner_city {
              font-size: 20px;
              color: white;
              cursor: pointer;
            }

          }
        }

        .header_menu {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          &:hover {
            transform: scale(1.07);
          }

          .menu_img {
            cursor: pointer;
            width: 23px;
            padding-right: 15px;

            @media (max-width: 720px) {
              padding: 15px 0 0 0;
              width: 36px;
            }
          }

          .menu_list {
            font-size: 17px;
            color: white;
            cursor: pointer;

            @media (max-width: 720px) {
              display: none;
            }
          }
        }
      }

      .header_link {
        padding: 0px 30px 30px 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;

        @media (max-width: 720px) {
          display: none;
        }

        .header_nav_main {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;

          .nav_main_inner {
            text-decoration: none;
            color: white;
            font-size: 17px;
            margin-left: 35px;
            cursor: pointer;

            &:hover {
              border-bottom: 1px solid white;
              padding: 5px 0;
            }
          }
        }
      }

      .header_home_title {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 0 0 7%;
        justify-content: space-between;

        @media (max-width: 1250px) {
          padding: 0 0 0 10%;
          align-items: center;
        }

        @media (max-width:720px) {
          padding: 0 0 75px 8%;
        }

        @media (max-width: 620px) {
          grid-template-columns: 1fr;
          justify-items: center;
          padding: 0;
        }

        .header_home {
          width: auto;
          height: 440px;
          object-fit: cover;

          @media (max-width: 1250px) {
            width: 350px;
            height: auto;
          }

          @media (max-width: 792px) {
            width: 275px;
          }
        }

        .header_title {
          margin: 80px 0 0 0;

          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 550px;

          position: relative;

          @media (max-width: 792px) {
            margin: 35px 0 0 0;
          }

          @media (max-width: 620px) {
            max-width: 320px;
            align-items: flex-start;
            padding-bottom: 20px;
          }

          .header_title_inner {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin: 0px 0 5px 0px;
            font-size: 61px;
            font-weight: bolder;

            @media (max-width: 720px) {
              font-size: 42px;
            }

            @media (max-width: 620px) {
              font-size: 32px;
              color: white !important;
            }
          }

          .header_title__inner1 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            font-size: 61px;
            margin-left: 0px;
            font-weight: bolder;

            @media (max-width: 720px) {
              font-size: 42px;
            }

            @media (max-width: 620px) {
              color: white !important;
            }
          }

          .header_title_inner2 {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            margin: 0 0 10px 0px;
            font-size: 32px;
            font-weight: 400;

            @media (max-width: 720px) {
              font-size: 22px;
            }

            @media (max-width: 620px) {
              color: white !important;
            }
          }

          .gif {
            width: auto;
            position: absolute;
            bottom: 0;


            @media (max-width: 1250px) {
              bottom: -90px;
            }

            @media (max-width: 1250px) {
              display: none;
            }

            img {
              width: 38px;
              object-fit: cover;

              @media (max-width: 920px) {
                width: 26px;
              }

            }
          }
        }

      }

      .header_loft {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0 0 20px 60px;

        @media (max-width: 720px) {
          display: none;
        }

        .loft_inner {
          color: white;
          font-size: 36px;
          font-weight: 100;
          max-width: 350px;

          @media (max-width: 972px) {
            font-size: 26px;
            max-width: 220px;
          }
        }


        .loft_inner_dop_log {
          font-weight: 100;
          font-size: 72px;
          color: white;
          font-style: normal;
        }
      }

    }
  }
}