<section class="welcome">
  <div class="header">
    <div class="header_container">
      <div class="header_inner">
        <div class="header_inner_navigation">
          <a href="tel: +38 097 931-46-81"><img class="navigation_network1" src="../../../assets/img/icons8.svg"
              alt="Instagram"></a>
          <a href="https://t.me/kupimUA"><img class="navigation_network" src="../../../assets/img/Telegram.svg"
              alt="telegram"></a>
          <a href="viber://chat?number=0979314681"><img class="navigation_network" src="../../../assets/img/Viber.svg"
              alt="viber"></a>
          <a href="https://www.instagram.com/kupim_ua/?hl=ru"><img class="navigation_network"
              src="../../../assets/img/Instagram.svg" alt="Instagram"></a>
          <div class="navigation_contact">
            <nav><a class="contact_inner" href="tel: +38 097 931-46-81 ">+1 727 732 9785</a></nav>
            <nav class="contact_inner_city">State of Florida</nav>
          </div>
        </div>
        <div class="header_menu" id="burger">
          <img class="menu_img" src="../../../assets/img/menu.svg" alt="menu">
          <div class="menu_list">MENU</div>
        </div>
      </div>
      <div class="header_link">
        <div class="header_nav_main">
          <nav><a class="nav_main_inner" href="./">Main</a></nav>
          <nav><a class="nav_main_inner" href="#SELL">Choice of transportation</a></nav>
          <nav><a class="nav_main_inner" href="./contact/">Contacts</a></nav>
          <nav><a class="nav_main_inner" href="./reviews/">Testimonials</a></nav>
        </div>
      </div>
      <h1 class="header_loft">
        <div class="loft_inner_log">BUYING B/L.</div>
        <div class="loft_inner_dop_log">TRANSPORT</div>
      </h1>
      <div class="header_loft_btn"><a class="header_loft_btn_inner" href="#SELL">SELL</a></div>
    </div>


  </div>
</section>