.welcome {
  height: 100%;

  .header {
    height: -webkit-fill-available;
    padding: 75px 0 90px 0;

    @media (max-width: 620px) {
      padding: 0;
    }

    .header___container {
      max-width: 1720px;
      width: 100%;
      margin: 0 auto;
      box-shadow: 0px 0px 80px 1px #221414;
      height: calc(100vh - 170px);
      display: flex;
      flex-direction: column;
      position: relative;


      @media (max-width: 1740px) {
        width: 90%;
      }

      @media (max-width: 620px) {
        width: 75%;


        height: -webkit-fill-available;
      }

      .header_inner {
        padding: 30px 30px 25px 20px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: 1000px) {
          align-items: flex-start;
        }

        @media (max-width: 720px) {
          padding: 0px 0 50px 0px;
          align-items: flex-start;
        }


        .header_inner_navigation {
          display: flex;
          flex-direction: row;
          align-items: center;

          @media (max-width: 1000px) {
            flex-direction: column;
          }

          .icon_row {
            display: flex;
            flex-direction: row;
            gap: 10px;

            @media (max-width: 720px) {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              justify-items: center;
              padding-left: 15px;
            }

            @media (max-width: 380px) {
              padding: 0;
            }
          }

          @media (max-width: 720px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 10px 0 0 0;
            justify-items: center;
          }

          a {
            &:hover {
              transform: scale(1.07);

              @media (max-width: 920px) {
                transform: none;
              }
            }
          }

          .phone {
            display: none;

            &:hover {
              transform: scale(1.07);

              @media (max-width: 920px) {
                transform: none;
              }
            }

            @media (max-width: 720px) {
              display: block;
              width: 68px;
              height: 68px;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 100%;
                object-fit: cover;
              }
            }
          }

          .icon {
            width: 55px;
            height: 55px;

            &:hover {
              transform: scale(1.07);

              @media (max-width: 920px) {
                transform: none;
              }
            }

            @media (max-width: 720px) {
              width: 68px;
              height: 68px;
            }

            @media (max-width: 620px) {
              margin: 0;
            }

            img {
              width: 100%;
              object-fit: cover;
            }

          }

          .navigation_network {
            width: 85px;
          }



          .navigation_contact {
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            @media (max-width: 720px) {
              display: none;
            }

            .contact_inner {
              font-size: 24px;
              color: white;
              text-decoration: none;

              &.contactss {
                color: #47494d;
              }
            }

            .contact_inner_city {
              font-size: 20px;
              color: white;
              cursor: pointer;
            }

          }
        }

        .header_menu {
          display: flex;
          flex-direction: row;
          align-items: center;
          position: relative;
          z-index: 9999;

          &.active {
            @media (max-width: 620px) {
              border: none;
            }
          }

          @media (max-width: 620px) {
            border: 2px solid white;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-right: none;
            margin: 25px 0 0 0;
          }

          &:hover {
            transform: scale(1.07);

            @media (max-width: 620px) {
              transform: none;
            }
          }

          .menu_img {
            cursor: pointer;
            width: 23px;
            padding-right: 15px;

            @media (max-width: 720px) {

              width: 33px;
              padding: 10px 25px;
            }
          }

          .menu_list {
            font-size: 17px;
            color: white;
            cursor: pointer;

            @media (max-width: 720px) {
              display: none;
            }
          }
        }
      }

      .header_link {
        padding: 0px 30px 0 30px;

        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;

        @media (max-width: 720px) {
          display: none;
        }

        .header_nav_main {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;

          .nav_main_inner {
            text-decoration: none;
            color: white;
            font-size: 17px;
            margin-left: 35px;
            cursor: pointer;

            &:hover {
              border-bottom: 1px solid white;
              padding: 5px 0;
            }
          }
        }
      }

      .header_home_title {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 0 0 7%;
        justify-content: space-between;
        align-items: center;
        margin: auto 0;

        @media (max-width: 1250px) {
          padding: 0 0 0 10%;
        }

        @media (max-width:720px) {
          padding: 0 0 75px 8%;
        }

        @media (max-width: 620px) {
          grid-template-columns: 1fr;
          justify-items: center;
          padding: 0;
          flex-direction: column-reverse;
        }

        .header_home {
          width: auto;
          height: 440px;
          object-fit: cover;
          background: transparent;

          @media (max-width: 620px) {
            order: 1;
          }

          &.volkswagen,
          &.porshe,
          &.smart,
          &.opel,
          &.mercedes,
          &.audi,
          &.bmw,
          &.car,
          &.trailer,
          &.boat {
            height: auto;
          }

          @media (max-width: 1250px) {
            width: 350px;
            height: auto;
          }

          @media (max-width: 792px) {
            width: 275px;
          }
        }

        .header_title {
          margin: -25px 0 0 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 750px;
          position: relative;

          @media (max-width: 1250px) {
            margin: 0;
          }

          @media (max-width: 792px) {
            margin: 35px 0 0 0;
          }

          @media (max-width: 620px) {
            max-width: 320px;
            align-items: center;
            padding-bottom: 35px;
          }

          .header_title_inner {

            margin: 0px 0 5px 0px;
            font-size: 61px;
            font-weight: 700;
            text-align: center;
            display: flex;
            flex-direction: column;
            color: white;

            ::ng-deep span {
              font-size: 32px;

              @media (max-width: 620px) {
                font-size: 22px;
                font-weight: 400;
              }
            }

            @media (max-width: 720px) {
              font-size: 42px;
            }

            @media (max-width: 620px) {
              font-size: 32px;
              color: white !important;
            }
          }

          .header_title__inner1 {

            display: flex;

            justify-content: center;
            font-size: 61px;
            margin-left: 0px;
            font-weight: bolder;
            color: white;

            @media (max-width: 720px) {
              font-size: 42px;
            }
          }

          .header_title_inner2 {
            display: flex;

            justify-content: flex-end;
            margin: 0 0 10px 0px;
            font-size: 32px;
            font-weight: 400;
            color: white;

            @media (max-width: 720px) {
              font-size: 22px;
            }
          }

          .gif {
            width: auto;
            position: absolute;
            bottom: -70px;

            @media (max-width: 1250px) {
              bottom: -90px;
            }

            @media (max-width: 1250px) {
              display: none;
            }

            img {
              width: 38px;
              object-fit: cover;

              @media (max-width: 920px) {
                width: 26px;
              }

            }
          }
        }

      }

      .header_loft {
        display: flex;
        flex-direction: column;
        padding: 40px 0 30px 60px;

        @media (max-width: 720px) {
          display: none;
        }

        .loft_inner {
          color: white;
          font-size: 36px;
          font-weight: 100;
          max-width: 500px;

          @media (max-width: 972px) {
            font-size: 26px;
            max-width: 220px;
          }
        }


        .loft_inner_dop_log {
          font-weight: 100;
          font-size: 72px;
          color: white;
          font-style: normal;
        }
      }

    }
  }
}