<section class="welcome" *ngIf="welcomeDataPage">
  <div class="header {{welcomeDataPage?.bgImage}}">
    <div class="header___container">
      <div class="header_inner">
        <div class="header_inner_navigation">
          <div class="icon_row">
            <a class="icon" href="https://wa.me/7275091449"><img class="navigation_network"
                src="/assets/img/WhatsApp.webp" alt="Write to WhatsApp"></a>
            <a class="phone" href="tel: +17275091449"><img class="navigation_network"
                src="/assets/img/global/Phone.webp" alt="Phone"></a>
            <a class="icon" href="https://t.me/buddy_cashFL"><img class="navigation_network" src="/assets/img/Telegram.webp"
                alt="Write to Telegram"></a>
            <a class="icon" target="_blank" href="http://m.me/buddycash01"><img src="/assets/img/global/Facebook.webp"
                alt="Write to Facebook Messenger"></a>
          </div>

          <div class="navigation_contact">
            <nav><a class="contact_inner {{welcomeDataPage.styleClass}}" href="tel: +17275091449 ">+1 727 732
                9785</a></nav>
            <nav class="contact_inner {{welcomeDataPage.styleClass}}">{{welcomeDataPage.state ? welcomeDataPage.state :
              'Florida' }}</nav>

          </div>
        </div>
        <div class="header_menu {{(isSidebar$ | async) ? 'active' : ''}}" id="burger" (click)="openMenu()">
          <img *ngIf="!(isSidebar$ | async)" class="menu_img" src="/assets/img/Menu.webp" alt="Button Menu">
          <img *ngIf="(isSidebar$ | async)" class="menu_img" src="/assets/img/close_menu.png" alt="Button Menu">
          <div class="menu_list">MENU</div>
        </div>
      </div>
      <div class="header_link">
        <div class="header_nav_main">
          <nav><nav class="nav_main_inner" (click)="useRoute('/fl/')">Main</nav></nav>
          <nav><nav class="nav_main_inner" (click)="useRoute('/contacts')">Contacts</nav></nav>
          <nav><nav class="nav_main_inner" (click)="useRoute('/review')">Reviews</nav></nav>
        </div>
      </div>
      <div class="header_home_title {{welcomeDataPage.class}}">

        <img class="header_home {{welcomeDataPage.bgImage}}" [src]="welcomeDataPage.image" alt="{{welcomeDataPage.altImage}}">

        <div class="header_title">

          <h1 class="header_title_inner {{welcomeDataPage.class}}" [innerHTML]="welcomeDataPage.title"></h1>
          <span class="header_title_inner2 {{welcomeDataPage.class}}" [innerHTML]="welcomeDataPage.location"></span>

          <div class="gif {{welcomeDataPage.class}}">
            <img src="/assets/img/global/slide.gif" alt="Slide">
          </div>
        </div>
      </div>
      <div class="header_loft">
        <h2 class="loft_inner">{{welcomeDataPage.footerDescription}}</h2>
      </div>

    </div>
  </div>
</section>
