<section [ngClass]="{'hide': prodInfo === 'prodInfo'}">
    <div class="prod_info">
        <h2 class="prod_info_h">
            <span class="info_title">{{prodInfo['title']}}</span>
            <span class="info_undelog">{{prodInfo['text']}}</span>
        </h2>
        <div class="prod_info_content">
            <button class="btn" *ngFor="let image of prodInfo['content']" (click)="openPage(image.route)">
                <img class="car_find_img" [src]="image.img" alt="">
            </button>


        </div>
    </div>
</section>