<section [ngClass]="{ hide: prodInfo === 'prodInfo' }">
  <div class="prod_info">
    <h3 class="prod_info_h">
      <span class="info_title">{{ prodInfo["title"] }}</span>
      <span class="info_undelog">{{ prodInfo["text"] }}</span>
    </h3>
    <div class="prod_info_content" *ngIf="!isLoading && content; else loading">
      <button
        class="btn"
        [ngClass]="{ hide_anim: !isPageRoute.includes(activePage) }"
        [disabled]="image['isBlock'] || !isPageRoute.includes(activePage)"
        *ngFor="let image of prodInfo['content']"
        (click)="openPage(image.route)"
      >
        <img
          class="car_find_img"
          [src]="image.img + '?v=' + version"
          alt="{{ image.alt }}"
        />
      </button>
    </div>
    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>
  </div>
</section>
