<section *ngIf="!isLoading;else loading">
  <app-welcome></app-welcome>
  <app-choice-products *ngIf="key === 'choice'"></app-choice-products>
  <app-prod-info *ngIf="key === 'prod'"></app-prod-info>
  <app-easy-steps></app-easy-steps>
  <app-need-docs *ngIf="key === 'yes'"></app-need-docs>
  <app-about-info></app-about-info>
  <app-information></app-information>
  <app-choice-mark-car></app-choice-mark-car>
  <app-feedback></app-feedback>
  <app-questions></app-questions>
  <app-footer></app-footer>
</section>
<ng-template #loading>
  <app-loading class="loading"></app-loading>
</ng-template>