<div class="information">
    <div class="information_cont">
        <div class="information_log">INFORMATION</div>
        <div class="brd"></div>
        <div class="inform_blog">
            <div class="blog_left">
                <div class="left_log">BUDDY-CASH.COM</div>
                <div class="inner_day_work_log">ADDRESS</div>
                <div class="inner_local">
                  <a href="https://maps.app.goo.gl/THPcFDbwmjtoELjv5" target="_blank"><strong style="font-weight: normal;">{{infoData.address}}</strong></a></div>
                <div class="inner_day_work_log">WORK SCHEDULE</div>
                <div class="inner_day_work">Monday - Sunday – 09 AM – 07 PM</div>
            </div>
            <div class="blog_right">

                <div class="right_mn">EVALUATOR</div>
                <div class="right_name">Bohdan</div>
                <div class="right_direct">CONTACTS</div>
                <div class="right_direct_tel"><a href="tel: {{infoData.telNumber}}">{{infoData.telNumber}}</a></div>

                <a class="block__innner" target="_blank" href="http://m.me/buddycash01">
                    <nav class="block_inner">
                        <img class="inner_img" src="/assets/img/base_icon/facebook-messenger-base.webp" alt="Facebook Messenger">
                        <div class="inner_title">SEND</div>
                    </nav>

                </a>

                <a class="block__innner" href="https://t.me/buddy_cashFL">
                    <nav class="block_inner">
                        <img class="inner_img" src="/assets/img/base_icon/telegram-base.webp" alt="Telegram">
                        <div class="inner_title">SEND</div>
                    </nav>

                </a>

                <a class="block__innner" href="https://wa.me/7275091449">
                    <nav class="block_inner">
                        <img class="inner_img" src="/assets/img/base_icon/whatsapp-base.webp" alt="WhatsApp">
                        <div class="inner_title">SEND</div>
                    </nav>
                </a>
              <a class="block__innner"href="https://wa.me/17275091449">
                <nav class="block_inner">
                  <img class="inner_img" src="/assets/img/base_icon/IMessage.webp" alt="IMessanger">
                  <div class="inner_title">SEND</div>
                </nav>
              </a>
              <a class="block__innner" target="_blank" href="mailto:buddycash.fl@gmail.com">
                <nav class="block_inner">
                  <img class="inner_img" src="/assets/img/online-appraisal/mail.webp" alt="Messenger Mail">
                  <div class="inner_title">SEND</div>
                </nav>
              </a>
            </div>
        </div>
    </div>
</div>
