<div class="information">
    <div class="information_cont">
        <div class="information_log">INFORMATION</div>
        <div class="brd"></div>
        <div class="inform_blog">
            <div class="blog_left">
                <div class="left_log">KUPIM.COM.UA</div>
                <div class="inner_day_work_log">Adress</div>
                <div class="inner_local">{{infoData.address}}</div>
                <div class="inner_day_work_log">WORK SCHEDULE</div>
                <div class="inner_day_work" *ngFor="let day of infoData.dayWork">{{day.title}}</div>
            </div>
            <div class="blog_right">

                <div class="right_mn">EVALUATOR</div>
                <div class="right_name">Bohdan</div>
                <div class="right_direct">Contacts</div>
                <div class="right_direct_tel">{{infoData.telNumber}}</div>
                <a class="block__innner" href="https://t.me/kupimUA">
                    <nav class="block_inner">
                        <img class="inner_img" src="/assets/img/base_icon/facebook-messenger-base.svg" alt="Messanger">
                        <div class="inner_title">CONNECT</div>
                    </nav>
                </a>
                <a class="block__innner" href="viber://chat?number=0979314681">
                    <nav class="block_inner">
                        <img class="inner_img1" src="/assets/img/global/instagram.svg" alt="Instagram">
                        <div class="inner_title">CONNECT</div>
                    </nav>
                </a>
                <a class="block__innner" href="tel: +38 097 931-46-81">
                    <nav class="block_inner">
                        <img class="inner_img" src="/assets/img/base_icon/whatsapp-base.svg" alt="WhatsApp">
                        <div class="inner_title">CONNECT</div>
                    </nav>
                </a>
            </div>
        </div>
    </div>
</div>