<section class="staff">
  <div class="staff_content">
    <div class="position">
      <nav class="img">
        <img src="/assets/img/teams/bohdan.jpg" >
      </nav>
      <nav class="content">
        <p class="name">Bohdan</p>
        <p class="position_job">Project Manager</p>
      </nav>
    </div>
    <div class="position">
      <nav class="img">
      </nav>
      <nav class="content">
        <p class="name">Macsim</p>
        <p class="position_job">Senior Developer</p>
      </nav>
    </div>
  </div>
</section>
