.staff {
  max-width: 156vmin;
  width: 100%;
  margin: 8vmin auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 8vmin;

  @media (max-width: 1580px) {
    width: 90%;
  }

  .staff_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vmin;
    width: 100%;

    @media (max-width: 720px) {
      flex-direction: column;
    }

    .position {
      max-width: 35vmin;
      width: 100%;
      height: 37vmin;
      display: flex;
      flex-direction: column;
      align-items: center;

      border: 0.2vmin solid #ececec;
      border-radius: 2.6vmin;
      box-shadow: -0.1vmin 0.2vmin 2.1vmin 0.9vmin #ececec;

      .img {
        height: 27vmin;
        width: 100%;
        border-radius: 2.6vmin;
        background-image: url('/assets/img/teams/macsim.jpg');
        background-size: cover;
        background-position: -0.1vmin -1.5vmin;
        background-repeat: no-repeat;

        img {
          border-radius: 2.6vmin;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 1vmin;
        align-items: center;
        margin-top: 1vmin;

        .name {
          font-size: 2.6vmin;
        }

        .position_job {
          font-size: 1.8vmin;
        }
      }
    }
  }
}
