.main {
  background: linear-gradient(90deg, #5ab2a5 0%, #5ab2a5 36%, #202227 100%);

}

.bike {
  background: linear-gradient(86deg, #ae8c64 0%, #ae8c64 36%, #202227 100%);
}


.laptop {
  background: linear-gradient(86deg, #237261 0%, #237261 36%, #202227 100%);
}


.contacts {
  background: linear-gradient(86deg, #b0ede1 0%, #b0ede1 36%, #202227 100%);
}

.scooter {
  background: linear-gradient(86deg, #8eb1d2 0%, #8eb1d2 36%, #202227 100%);
}


.boat {
  background: linear-gradient(86deg, #739588 0%, #739588 36%, #202227 100%);
}


.tractor {
  background: linear-gradient(86deg, #739588 0%, #739588 36%, #202227 100%);
}

.trailer {
  background: linear-gradient(86deg, #8fb2d2 0%, #8fb2d2 36%, #202227 100%);
}


.car {
  background: linear-gradient(86deg, #e06267 0%, #e06267 36%, #20242b 100%);
}

.bmw {
  background: linear-gradient(86deg, #71988a 0%, #71988a 36%, #2c2d32 100%);
}


.audi {
  background: linear-gradient(86deg, #6d7750 0%, #6d7750 36%, #2c2d32 100%);
}

.audi_text {
  color: #6d7750 !important;
}

.mercedes {
  background: linear-gradient(86deg, #92b7d8 0%, #92b7d8 36%, #2c2d32 100%);
}

.mercedes_text {
  color: #92b7d8 !important;
}

.opel {
  background: linear-gradient(86deg, #ac7d5a 0%, #ac7d5a 36%, #2c2d32 100%);
}

.porshe {
  background: linear-gradient(86deg, #ac7d5a 0%, #ac7d5a 36%, #2c2d32 100%);
}

.smart {
  background: linear-gradient(86deg, #9e9699 0%, #9e9699 36%, #2c2d32 100%);
}

.volkswagen {
  background: linear-gradient(86deg, #9bb9c7 0%, #9bb9c7 36%, #2c2d32 100%);
}

.transport {
  background: linear-gradient(86deg, #95b0cf 0%, #95b0cf 36%, #202227 100%);

}

.gear {
  background: linear-gradient(86deg, #4a9358 0%, #4a9358 36%, #20242b 100%);
}

.exercise-machines {
  background: linear-gradient(86deg, #3fccc7 0%, #3fccc7 36%, #20242b 100%);
}

.skis {
  background: linear-gradient(86deg, #cc3f64 0%, #cc3f64 36%, #20242b 100%);
}

.snowboard {
  background: linear-gradient(86deg, #dbb73a 0%, #dbb73a 36%, #20242b 100%);
}

.surfboard {
  background: linear-gradient(86deg, #3ab3db 0%, #3ab3db 36%, #20242b 100%);
}


.legal_text {
  @media (max-width: 1000px) {
    font-size: 42px !important;
  }

  @media (max-width: 620px) {
    font-size: 32px !important;
  }
}