.bike {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #ae8c64), color-stop(50%, #202227));
  background: linear-gradient(to right, #ae8c64 50%, #202227 50%);
}

.laptop {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #eb996c), color-stop(50%, #202227));
  background: linear-gradient(to right, #eb996c 50%, #202227 50%);
}