.bike {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #ae8c64), color-stop(50%, #202227));
  background: linear-gradient(to right, #ae8c64 50%, #202227 50%);
}

.bike_text {
  color: #ae8c64;
}

.laptop {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #237261), color-stop(50%, #202227));
  background: linear-gradient(to right, #237261 50%, #202227 50%);
}

.laptop_text {
  color: #237261 !important;
}

.contacts {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e4e4e4), color-stop(50%, #251f25));
  background: linear-gradient(to right, #e4e4e4 50%, #251f25 50%);
}

.contacts_text {
  color: #e4e4e4 !important;
}

.contacts {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e4e4e4), color-stop(50%, #202722));
  background: linear-gradient(to right, #e4e4e4 50%, #202722 50%);
}

.contacts_text {
  color: #e4e4e4 !important;
}