.why {
  height: auto;

  .why_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 142vmin;
    margin: 0 auto;
    width: 100%;

    @media (max-width: 1440px) {
      width: 90%;
    }

    .why_log_h {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .why_log{
        display: flex;
        justify-content: space-around;
        margin: 14vmin 0 3vmin 0;
        font-size: 5vmin;
        color: #535050;
        font-weight: 600;
        text-align: center;

        @media (max-width: 720px) {
          font-size: 4.2vmin;
        }
      }

      .why_undelog {
        font-weight: 400;
        font-size: 2.8vmin;
        color: #535050;
        margin: 0 0 11.5vmin 0;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        @media (max-width: 720px) {
          font-size: 2.4vmin;
          margin-bottom: 5.5vmin;
        }
      }
    }

    .why_inner {
      margin: 0 0 13vmin 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      gap: 1.5vmin;

      @media (max-width: 1040px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 680px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .why_innner_comm {

        flex-direction: row;
        align-items: center;
        display: flex;
        row-gap: 1.5vmin;

        @media (max-width: 720px) {
          align-items: center;
        }

        .comm_img {
          width: 15vmin;
        }

        .comm_img1 {
          width: 10vmin;
          margin: 0 0 0 2.5vmin;
          padding-right: 2.5vmin;

          @media (max-width: 720px) {
            margin: 0;
            padding: 0;
          }
        }

        .comm_txt {
          font-size: 2vmin;
          color: black;
          font-weight: 400;

          ::ng-deep strong{
            font-weight: 400;
          }

          @media (max-width: 1240px) {
            font-size: 2vmin;
          }

          @media (max-width: 720px) {
            margin: 0;
          }

          @media (max-width: 576px) {
            font-size: 1.8vmin;
          }
        }

      }
    }
  }
}
