:host {
  .free-house {
    padding: 6vmin;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 6vmin;
    background: linear-gradient(86deg, #298275 0%, #298275 36%, #20242b 100%);

    &-left {
      display: flex;
      flex-direction: column;
      gap: 2vmin;

      &-title {
        font-size: 2.4vmin;
        font-weight: 600;
        color: white;
        padding-bottom: 1vmin;
        text-align: center;
      }

      &-text {
        font-size: 1.4vmin;
        font-weight: 300;
        color: white;

        ::ng-deep strong {
          font-weight: 300;
        }

        a {
          color: white;
        }
      }

      .text {
        padding: 0.5vmin;
        max-width: 95vmin;

        .strong {
          font-weight: bold;
        }
      }

    }

    &-right {
      margin: auto 5vmin auto 0;

      @media (max-width: 768px) {
        margin: 0;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 2.5vmin;
        padding: 6.5vmin;
        border-radius: 4vmin;
        background: rgba(255, 255, 255, 0.1);

        @media (max-width: 768px) {
          padding: 2.5vmin;
          width: 25vmin;
        }

        .about_form_block {
          display: flex;
          flex-direction: column;
          gap: 0.4vmin;
          label {
            font-size: 2.2vmin;
            color: #fdfdfd;
          }

          input {
            font-size: 2.2vmin;
            background: #b5c0bf;
            padding: 1.5vmin 2vmin;
            outline: none;
            border: none;
            color: #575757;
            border-radius: 1.4vmin;
          }

        }

        button {
          cursor: pointer;
          background: #dc920c;
          color: white;
          outline: none;
          border: none;
          border-radius: 1.4vmin;
          font-size: 2.2vmin;
          padding: 1.5vmin 2vmin;
        }

        input.invalid {
          border: 1px solid red;
        }

        .error {
          color: red;
          margin-top: 0.4vmin;
          font-size: 1.8vmin;
        }

      }

    }
  }
}
