:host{
  .free-house{
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 60px;
    background: linear-gradient(86deg, #298275 0%, #298275 36%, #20242b 100%);

    &-left{
      display: flex;
      flex-direction: column;
      gap: 20px;

      &-title {
        font-size: 2.4rem;
        font-weight: 600;
        color: white;
        padding-bottom: 10px;
        text-align: center;
      }

      &-text {
        font-size: 1.4rem;
        font-weight: 300;
        color: white;

        ::ng-deep strong {
          font-weight: 300;
        }

        a {
          color: white;
        }
      }

      .text {
        padding: 5px;
        max-width: 950px;

        .strong {
          font-weight: bold;
        }
      }

    }
    &-right{
        margin: auto 50px auto 0;
        form{
          display: flex;
          flex-direction: column;
          gap: 25px;
          padding: 65px;
          border-radius: 40px;
          background: rgba(255, 255, 255, 0.1);
          .about_form_block{
            display: flex;
            flex-direction: column;
            gap: 4px;

            label{
              font-size: 24px;
              color: #fdfdfd;
            }

            input{
              font-size: 24px;
              background: #b5c0bf;
              padding: 15px 20px;
              outline: none;
              border: none;
              color: #575757;
              border-radius: 14px;
            }

          }
          button{
            cursor: pointer;
            background: #dc920c;
            color: white;
            outline: none;
            border: none;
            border-radius: 14px;
            font-size: 24px;
            padding: 15px 20px;
          }

          input.invalid {
            border: 1px solid red;
          }

          .error {
            color: red;
            margin-top: 4px;
            font-size: 18px;
          }

        }

    }
  }
}
