<div class="free-house">
  <div class="free-house-left">
    <h2 class="free-house-left-title" [innerHTML]="freeHouse.title"></h2>
    <p class="free-house-left-text text" [innerHTML]="freeHouse.text"></p>
  </div>
  <div class="free-house-right">
    <form [formGroup]="form" (ngSubmit)="sendMessage()">
      <div class="about_form_block">
        <label>Property address</label>
        <input
          type="text"
          formControlName="address"
          placeholder="Enter Your Address"
          [class.invalid]="address?.invalid && address?.touched"
        />
        <div class="error" *ngIf="address?.errors && address?.touched">
          <small *ngIf="address?.errors['required']">Address is required.</small>
          <small *ngIf="address?.errors['minlength']">Minimum 5 characters.</small>
        </div>
      </div>

      <div class="about_form_block">
        <label>Phone</label>
        <input
          type="number"
          formControlName="phone"
          [class.invalid]="phone?.invalid && phone?.touched"
        />
        <div class="error" *ngIf="phone?.errors && phone?.touched">
          <small *ngIf="phone?.errors['required']">Phone is required.</small>
          <small *ngIf="phone?.errors['pattern']">Only numbers, min 9 digits.</small>
        </div>
      </div>

      <div class="about_form_block">
        <label>Property email</label>
        <input
          type="email"
          formControlName="email"
          [class.invalid]="email?.invalid && email?.touched"
        />
        <div class="error" *ngIf="email?.errors && email?.touched">
          <small *ngIf="email?.errors['required']">Email is required.</small>
          <small *ngIf="email?.errors['email']">Invalid email format.</small>
        </div>
      </div>

      <button type="submit" [disabled]="form.invalid">Get Cash Offer!</button>
    </form>


  </div>

</div>
