<div class="firm">
    <div class="firm_container">
        <div class="cont_left">
            <div class="left_work_time">Address</div>
            <div class="left_local">{{infoData.address}}</div>
            <div class="left_work_time">Work schedule</div>
            <div class="left_time" *ngFor="let day of infoData.dayWork">{{day.title}}</div>

            <div class="left_contact">Contacts</div>
            <div class="left_number">{{infoData.telNumber}}</div>
            <div class="ima_inner">{{infoData.email}}</div>
            <a class="block__innner" href="https://t.me/kupimUA">
                <nav class="block_inner">
                    <img class="inner_img" src="/assets/img/base_icon/facebook-messenger-base.svg" alt="Messenger">
                    <div class="inner_title">SEND</div>
                </nav>
            </a>
            <a class="block__innner" href="viber://chat?number=0979314681">
                <nav class="block_inner">
                    <img class="inner_img" src="/assets/img/base_icon/telegram-base.svg" alt="Telegram">
                    <div class="inner_title">SEND</div>
                </nav>
            </a>
            <a class="block__innner" href="tel: +17 275 09-14-49">
                <nav class="block_inner">
                    <img class="inner_img" src="/assets/img/base_icon/whatsapp-base.svg" alt="Whatsapp">
                    <div class="inner_title">SEND</div>
                </nav>
            </a>
        </div>
        <div class="cont_right">
            <iframe src="https://www.google.com/maps/d/embed?mid=14UKCASjZpF7jGhbPKJHQ00_gX0JMAo3B&ehbc=2E312F"
                width="880" height="480"></iframe>
        </div>
    </div>

</div>