<div class="firm">
  <div class="firm_container">
      <div class="cont_left">
          <div class="left_local">г. Киев, ул. Юрия Ильенка 46 (ст. м. Дорогожичи)</div>
          <div class="left_work_time">Рарсписание работы</div>
          <div class="left_time">Понедельник - 09:00 - 21:00</div>
          <div class="left_time">Вторник - 09:00 - 21:00</div>
          <div class="left_time">Среда - 09:00 - 21:00</div>
          <div class="left_time">Четверг - 09:00 - 21:00</div>
          <div class="left_time">Пятница - 09:00 - 21:00</div>
          <div class="left_time">Суббота - 09:00 - 21:00</div>
          <div class="left_time">Воскресенье - Закрыто</div>
          <div class="left_contact">Контакты</div>
          <div class="left_number">097 931-46-81</div>
          <div class="ema">Email :</div>
          <div class="ima_inner">kupim.ua</div>
          <a class="block__innner" href="https://t.me/kupimUA">
              <nav class="block_inner">
                  <img class="inner_img" src="../car_img/Telegram.svg" alt="">
                  <div class="inner_title">СВЯЗАТЬСЯ</div>
              </nav>
          </a>
          <a class="block__innner" href="viber://chat?number=0979314681">
              <nav class="block_inner">
                  <img class="inner_img" src="../car_img/Viber.svg" alt="">
                  <div class="inner_title">СВЯЗАТЬСЯ</div>
              </nav>
          </a>
          <a class="block__innner" href="tel: +38 097 931-46-81">
              <nav class="block_inner">
                  <img class="inner_img1" src="../img/icons8.svg" alt="">
                  <div class="inner_title">СВЯЗАТЬСЯ</div>
              </nav>
          </a>
          <div class="dop_info_direct">СОЦИАЛЬНЫЕ СЕТИ</div>
          <div class="dop_info_loft">
              <a href="#"><img class="dop_info_sails" src="../img/Facebook.svg" alt=""></a>
              <a href="https://www.instagram.com/kupim_ua/?hl=ru"><img class="dop_info_sails"
                      src="../img/Instagram.svg" alt=""></a>
              <a href="#"><img class="dop_info_sails" src="../img/YouTube.svg" alt=""></a>
          </div>
      </div>
      <div class="cont_right">
          <iframe src="https://www.google.com/maps/d/embed?mid=14UKCASjZpF7jGhbPKJHQ00_gX0JMAo3B&ehbc=2E312F"
              width="880" height="480"></iframe>
      </div>
  </div>

</div>