<div class="firm">
    <div class="firm_container">
        <div class="cont_left">
            <div class="left_work_time">Address</div>
            <div class="left_local">{{infoData.address}}</div>
            <div class="left_work_time">Work schedule</div>
            <div class="left_time" *ngFor="let day of infoData.dayWork">{{day.title}}</div>

            <div class="left_contact">Contacts</div>
            <div class="left_number">{{infoData.telNumber}}</div>
            <div class="ima_inner">{{infoData.email}}</div>
            <a class="block__innner" target="_blank" href="m.me/100068472144079?hash=AbZpoaenoSiWUWWU&source_id=6946816">
                <nav class="block_inner">
                    <img class="inner_img" src="/assets/img/base_icon/facebook-messenger-base.svg" alt="Messenger">
                    <div class="inner_title">SEND</div>
                </nav>
            </a>
            <a class="block__innner" href="https://t.me/buddy_cashFL">
                <nav class="block_inner">
                    <img class="inner_img" src="/assets/img/base_icon/telegram-base.svg" alt="Telegram">
                    <div class="inner_title">SEND</div>
                </nav>
            </a>
            <a class="block__innner" href="https://wa.me/7275091449">
                <nav class="block_inner">
                    <img class="inner_img" src="/assets/img/base_icon/whatsapp-base.svg" alt="Whatsapp">
                    <div class="inner_title">SEND</div>
                </nav>
            </a>
        </div>
        <div class="cont_right">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3524.622445831316!2d-82.47135032385304!3d27.944217515003256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c2c4848a392297%3A0x4f272e4edd48c232!2zMTAzIFMgQm91bGV2YXJkLCBUYW1wYSwgRkwgMzM2MDYsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2sua!4v1728200107919!5m2!1suk!2sua"
                width="880" height="480" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

</div>