.review_form {
  display: flex;
  flex-direction: column;
  max-width: 120vmin;
  margin: 10vmin auto;

  @media (max-width: 1250px) {
    width: 90%;
  }

  .review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 1.5vmin;

    @media (max-width: 900px) {
      flex-direction: column-reverse;
      align-items: center;
      gap: 2.5vmin;
    }
    .left {
      display: flex;
      flex-direction: column;
      gap: 2.5vmin;
      max-width: 45vmin;
      width: 100%;

      .left_form {
        display: flex;
        flex-direction: column;
        gap: 0.7vmin;
        width: 100%;

        textarea {
          padding: 1.5vmin;
          border-radius: 1.4vmin;
          font-size: 1.6vmin;
          height: 25vmin;
          color: #535050;
          background-color: #F5F6FA;
          border: 0;
          resize: none;
          outline: none;
        }

        input {
          border: 0;
          border-bottom: 1px solid #535050;
          padding: 1.2vmin;
          font-size: 1.4vmin;
          color: #535050;
          outline: none;
        }

        button {
          margin-top: 1.5vmin;
          font-size: 2vmin;
          text-align: center;
          color: #535050;
          font-weight: 400;
        }

        .stars {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5vmin;

          .star {
            position: relative;
            display: block;
            width: 4vmin;
            height: 4vmin;
            background-color: transparent;
            clip-path: polygon(50% 0%,
                61% 35%,
                98% 35%,
                68% 57%,
                79% 91%,
                50% 70%,
                21% 91%,
                32% 57%,
                2% 35%,
                39% 35%);
            background: gray;
            transition: background 0.3s ease;

            cursor: pointer;

            &:hover {
              background: gold;
            }

            &.highlighted {
              background: gray;
            }

            &.active {
              background: gold;
            }
          }
        }

        p{
          font-size: 1.6vmin;
          transition: all 0.5s ease;
          text-align: center;
          color: #535050;
        }

      }
    }

    .right {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 45vmin;
      gap: 7.5vmin;

      p {
        font-size: 1.6vmin;
        text-align: center;
        color: #535050;
      }

      img {
        width: 25vmin;
      }
    }
  }

}
