.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  .asq_container {
    margin: 0 auto;
    max-width: 155vmin;
    width: 100%;

    @media (max-width: 1570px) {
      width: 90%;
    }

    @media (max-width: 768px) {
      width: 85%;
    }

    .asq_inner_title {
      display: flex;
      justify-content: center;
      color: #535050;
      font-size: 5vmin;
      font-weight: 600;
      margin: 15vmin auto 2vmin 0;
      text-align: center;

      @media (max-width: 720px) {
        font-size: 4.2vmin;
      }
    }

    .asq_inner_dop_title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #646464;
      font-size: 2.6vmin;
      margin: 0 auto 7.5vmin 0;

      @media (max-width: 720px) {
        font-size: 2.4vmin;
      }
    }

    .asq_bl {

      display: flex;

      flex-direction: column;

      align-items: center;

      .asq_bnt {
        border-top: 0.1vmin solid #e1e1e1;
        max-width: 90vmin;
        width: 100%;
        margin: 0 0 5vmin 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        justify-content: center;
      }

      .dopp__inner {

        display: flex;

        flex-direction: row;

        justify-content: center;
        margin: 0 0 2.5vmin 0;
        width: 100%;
        max-width: 78vmin;
      }

      .dopp__inner {

        display: flex;

        flex-direction: row;

        justify-content: center;
        margin: 0 0 2.5vmin 0;
        width: 100%;

        .dopp____inner {

          @media (max-width: 972px) {
            width: 100%;
          }
        }

        .dopp_collaps {
          font-size: 2vmin;
          color: black;
          font-weight: bolder;
          cursor: pointer;
          border: 0;
          outline: none;
          margin: 0 0 2vmin 0;
          background-color: white;

          h3{
            text-align: left;
          }

          @media (max-width: 720px) {
            font-size: 1.8vmin;
            text-align: left;
          }

          &.active {
            h3{
              &::after {
                transform: rotate(180deg);
                transition: all 0.6s;
              }
            }
          }

          h3{
            &::after {
              content: "";
              background-image: url('/assets/img/global/arrow.svg');
              background-size: cover;
              height: 2.3vmin;
              width: 2.2vmin;
              display: inline-block;
              vertical-align: middle;
              position: relative;
              left: 0.5vmin;
              bottom: 0.2vmin;
            }
          }

          &:hover {
            color: #969696;
            font-weight: bolder;
            cursor: pointer;

            @media (max-width: 720px) {
              font-size: 1.8vmin;
            }
          }
        }

        .dopp_content {
          margin: 1vmin 0 0 0;
          max-height: 0;
          font-size: 2vmin;
          overflow: hidden;
          transition: max-height 0.2s ease-in-out;
          color: #2b2b2b;
          width: 75vmin;
          transition: all 0.2s ease;
          padding: 0 0 0 3vmin;

          ::ng-deep strong{
            font-weight: 400;
          }

          @media (max-width: 920px) {
            width: 90%;
            padding: 0 0 0 1vmin;
          }

          &.active {
            max-height: 100%;
            transition: all 0.75s ease;
          }
        }


        .list_btn {
          width: 2.5vmin;
          cursor: pointer;
        }

        .list_btn1 {
          width: 2.5vmin;
          cursor: pointer;
          position: absolute;
          right: 53.3vmin;
          display: none;
        }
      }
    }

    .last_info_h {
      font-size: 2vmin;
      margin: 1.5vmin 0;
      font-weight: bold;
    }

    .last_info {
      font-size: 2vmin;
      margin: 1.5vmin 0;

      @media (max-width: 720px) {
        font-size: 1.8vmin;
      }
    }
  }
}
