.attention {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20vmin auto;

  .attention_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 96vmin;
    width: 100%;

    @media (max-width: 1000px) {
      width: 90%;
    }

    @media (max-width: 660px) {
      flex-direction: column;
    }

    .attention_man {
      max-width: 28vmin;
      margin-right: 5vmin;

      @media (max-width: 920px) {
        max-width: 18vmin;
        margin-right: 2.5vmin;
      }
    }

    .description {
      max-width: 85vmin;

      p {
        font-size: 2.4vmin;
        line-height: 3.8vmin;

        @media (max-width: 920px) {
          font-size: 2vmin;
          line-height: 3.4vmin;
        }

        &.strong {
          font-weight: bold;
        }
      }
    }

    .attention_hand {
      max-width: 8vmin;
      margin: auto 0 0 0;
    }
  }
}
