<section class="attention">
  <div class="attention_block">
    <img class="attention_man" src="/assets/img/attention/man-technologist.svg">
    <div class="description">
      <p class="description_main">
        Hі!<br/>The page is currently being updated. New information will be available soon. Nevertheless, we're still open
        for business.
      </p>
      <p class="strong">Scroll down the page to get an online price quote!</p>
    </div>
    <img class="attention_hand" src="/assets/img/attention/hand.svg">
  </div>
</section>