// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$kupim-theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0,
      )));


:root {
  @include mat.all-component-themes($kupim-theme);
}

@import url('./styles/fonts.scss');
@import url('./styles/welcomeBg.scss');

:root {
  transition: all 0.5s;

}


*,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
body {
  margin: 0;
  padding: 0;
  transition: 0.75s all ease;
}

html,
body {
  height: 100%;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    width: 6px;
    background-color: rgb(255, 255, 255);
  }

  &::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: gray;
    border-radius: 6px;
  }
}

body {
  margin: 0;
  font-family: "GothamPro", sans-serif;

  .mat-mdc-select-value{
    font-family: "GothamPro", sans-serif;
    font-size: 20px;
  }
   .cdk-overlay-container{
      div.mat-mdc-select-panel{
        background-color: rgba(0, 0, 0, 0.20) !important;
        mat-option{
          color: white;
          font-family: "GothamPro", sans-serif;
        }
      }
    }

}

::ng-deep {

  svg,
  defs,
  g,
  line,
  polyline,
  circle,
  path,
  .mat-icon {
    fill: currentColor;
  }

}
