.choice_trans {
  .choice_trans_cont {
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @media (max-width: 1520px) {
      width: 90%;
    }

    .choice_trans_log {

      display: flex;

      justify-content: center;
      font-size: 50px;
      font-weight: 700;
      color: #535050;
      margin: 151px 0 30px 0px;

      @media (max-width: 768px) {
        font-size: 42px;
        text-align: center;
      }
    }

    .choice_trans_undelog {

      display: flex;

      justify-content: center;
      font-size: 30px;
      color: #535050;
      margin: 0 0 110px 0px;
    }

    .choice_transpot_inner {
      margin: 0 0 100px 0px;

      display: flex;

      flex-direction: row;

      justify-content: center;

      flex-wrap: wrap;

      button {
        outline: none;
        border: none;
        background-color: transparent;

        &:hover {
          transform: scale(1.08);
        }

        &.hide_anim {
          &:hover {
            transform: none;
            cursor: auto;
          }
        }

      }

      .transport_inner_view {
        width: 300px;
        height: auto;

        @media (max-width: 720px) {
          width: 220px;
        }
      }
    }
  }
}