.choice_trans {
  .choice_trans_cont {
    max-width: 150vmin;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @media (max-width: 1520px) {
      width: 90%;
    }

    .choice_trans_log {

      display: flex;

      justify-content: center;
      font-size: 5vmin;
      font-weight: 700;
      color: #535050;
      margin: 15vmin 0 30px 0;

      @media (max-width: 768px) {
        font-size: 4.2vmin;
        text-align: center;
      }
    }

    .choice_trans_undelog {

      display: flex;

      justify-content: center;
      font-size: 3vmin;
      color: #535050;
      margin: 0 0 11vmin 0;
      text-align: center;
    }

    .choice_transpot_inner {

      display: flex;

      flex-direction: row;

      justify-content: center;

      flex-wrap: wrap;

      button {
        outline: none;
        border: none;
        background-color: transparent;

        &:hover {
          transform: scale(1.08);
          cursor: pointer;
        }

        &.hide_anim {
          &:hover {
            transform: none;
            cursor: auto;
          }
        }

      }

      .transport_inner_view {
        width: 30vmin;
        height: auto;

        @media (max-width: 720px) {
          width: 22vmin;
        }
      }
    }
  }
}
