<div class="choice_trans" *ngIf="choiceProdData !== 'choiceProducts';else name">
  <div class="choice_trans_cont">
    <div class="choice_trans_log">{{choiceProdData['title']}}</div>
    <div class="choice_trans_undelog">{{choiceProdData['text']}}</div>
    <div class="choice_transpot_inner">
      <button [ngClass]="{'hide_anim': !isPageRoute.includes(activePage)}"
        [disabled]="!isPageRoute.includes(activePage)" *ngFor="let prod of choiceProdData['products']"
        (click)="openPage(prod.url)">
        <!-- <mat-icon class="transport_inner_view" [svgIcon]="prod.title"></mat-icon> -->
        <img class="transport_inner_view"
          [src]="prod.img" >
      </button>
    </div>
  </div>
</div>
<ng-template #name>
  <div></div>
</ng-template>
