<div class="footer">
  <div class="footer_container">
    <div class="footer_inner">
      <div class="footer_inner_title">BUDDY CASH</div>
      <div class="foot_dop">
        <div class="dop_inner">
          <!-- Telegram -->
          <a href="https://t.me/buddy_cashFL">
            <img class="dop_inner_img" src="/assets/img/Telegram.webp" alt="Telegram">
          </a>

          <!-- WhatsApp -->
          <a href="https://wa.me/7275091449">
            <img class="dop_inner_img" src="/assets/img/WhatsApp.webp" alt="WhatsApp">
          </a>

          <!-- Facebook Messenger -->
          <a target="_blank" href="http://m.me/buddycash01">
            <img class="dop_inner_img" src="/assets/img/global/Facebook.webp" alt="Facebook Messenger">
          </a>
        </div>

        <div class="foot_dop_inner">
          <div><a href="tel:+1 727 732 9785" class="inner_contact_phone">+1 727 732 9785</a></div>
          <div class="foot_fop_local">State of {{state ? state : 'Florida'}}</div>
        </div>
      </div>
    </div>

    <div class="footer_btn"></div>

    <div class="footer_loft">
      <div class="loft_inner">
        <nav><nav class="footer_loft_inner" (click)="openPage('/fl/')">Main</nav></nav>
        <nav><nav class="footer_loft_inner" (click)="openPage('/contacts')">Contacts</nav></nav>
        <nav><nav class="footer_loft_inner" (click)="openPage('/review')">Reviews</nav></nav>
        <nav><nav class="footer_loft_inner" (click)="openPage('/online-appraisal')">Online Appraisal</nav></nav>
        <nav><nav class="footer_loft_inner" (click)="openPage('/team')">Our Team</nav></nav>
        <nav><nav class="footer_loft_inner" (click)="openPage('/blog')">Blog</nav></nav>
        <nav><nav class="footer_loft_inner" (click)="openPage('/about-us')">About Us</nav></nav>
        <nav><nav class="footer_loft_inner" (click)="openPage('/legal-information')">Legal Information</nav></nav>
      </div>
    </div>

    <div class="footer_loft_contact">
      <div class="footer_last_title">© 2020 - {{date}} «BUDDY-CASH», official website, all rights reserved.</div>
      <div class="loft_lof_contact_img">
        <!-- Instagram -->
        <a href="https://www.instagram.com/buddycash.fl?igsh=ajExazF2MjJkM3cz">
          <img class="loft_contact_img" src="/assets/img/global/Instagram.webp" alt="Instagram">
        </a>

        <!-- Facebook -->
        <a href="https://www.facebook.com/">
          <img class="loft_contact_img" src="/assets/img/global/Facebook_main.webp" alt="Facebook">
        </a>

        <!-- YouTube -->
        <a href="https://www.youtube.com/">
          <img class="loft_contact_img" src="/assets/img/global/YouTube.webp" alt="YouTube">
        </a>
      </div>
    </div>
  </div>
</div>
