.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f4f5f8;

  .footer_container {
    max-width: 136.6vmin;
    margin: 0 auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    @media (max-width: 1380px) {
      width: 90%;
    }

    .footer_inner {
      padding: 4vmin 0 0 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 720px) {
        justify-content: center;
      }

      .footer_inner_title {
        font-size: 3.6vmin;
        font-weight: 600;
        padding: 1vmin 0 0 0;

        @media (max-width: 720px) {
          display: none;
        }
      }

      .foot_dop {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        gap: 1.5vmin;

        .dop_inner {
          display: flex;
          align-items: center;
          gap: 1vmin;

          .dop_inner_img {
            width: 5vmin;
          }

          .dop{
            width: 4.7vmin;
          }
        }

        .foot_dop_inner {
          padding: 2vmin 0 0 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          @media (max-width: 620px) {
            display: none;
          }

          .inner_contact_phone {
            font-size: 2.4vmin;
            text-decoration: none;
            color: black;
          }

          .foot_fop_local {
            font-size: 2vmin;
            color: black;
            padding-bottom: 3vmin;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: flex-end;
          }

          mat-form-field{
            //test
            height: 4.2vmin;
            ::ng-deep{
              .mat-mdc-text-field-wrapper{
                border: none;
                background: transparent;
                padding: 0;
              }

              .mat-mdc-form-field-subscript-wrapper{
                display: none;
              }
            }
          }
        }
      }
    }



    .footer_btn {
      margin-bottom: 4.5vmin;
      max-width: 136.6vmin;
      border-top: 1px solid #e2e1e1;
    }

    .footer_loft {
      margin: 0 auto 1.5vmin 0;
      @media (max-width: 620px) {
        margin: 0 auto 1.5vmin auto;
      }

      @media (max-width: 420px) {
        margin: 0 0 1.5vmin 0;
      }

      .loft_inner {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        gap: 3.5vmin;

        @media (max-width: 1240px) {
          gap: 1.5vmin;
          flex-wrap: wrap;
          justify-content: flex-start;
        }

        @media (max-width: 620px) {
          gap: 1.5vmin;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-content: flex-start;
        }

        @media (max-width: 420px) {
          justify-items: center;
          grid-template-columns: repeat(1, 1fr);
        }

        .footer_loft_inner {
          font-size: 1.7vmin;
          text-decoration: none;
          color: black;
          text-transform: uppercase;
          cursor: pointer;

          &:hover {
            color: #5f5c5c;
          }
        }
      }
    }

    .footer_loft_contact {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding-top: 3.5vmin;
      margin-bottom: 3vmin;

      .footer_last_title {
        padding: 3.5vmin 0 0 0;
        color: #5a5a5a;
        font-size: 1.8vmin;
      }

      .loft_lof_contact_img {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5vmin;
        @media (max-width: 620px) {
          display: none;
        }

        .loft_contact_img1,
        .loft_contact_img {
          width: 5vmin;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
