<div class="footer">
  <div class="footer_container">
    <div class="footer_inner">
      <div class="footer_inner_title">KUPIM</div>
      <div class="foot_dop">
        <div class="dop_inner">
          <a href="https://www.instagram.com/kupim_ua/?hl=ru"><img class="dop_inner_img"
              src="/assets/img/global/watsapp.svg" alt="Watsapp"></a>
          <a href="https://tlgrm.ru/  "><img class="dop_inner_img" src="/assets/img/global/watsapp.svg"
              alt="Watsapp"></a>
          <a href="viber://chat?number=0979314681"><img class="dop_inner_img" src="/assets/img/global/messanger.svg"
              alt="Messenger"></a>
        </div>
        <div class="foot_dop_inner">
          <div><a href="tel: +1 727 732 9785" class="inner_contact_phone">+1 727 732 9785</a>
          </div>
          <div class="foot_fop_local">State of {{state}}</div>
        </div>
      </div>
    </div>
    <div class="footer_btn"></div>
    <div class="footer_loft">
      <div class="loft_inner">
        <nav><a class="footer_loft_inner" href="../">Main</a></nav>
        <nav><a class="footer_loft_inner" href="#CONTACT">Contacts</a></nav>
        <nav><a class="footer_loft_inner" href="../reviews/">Testimonials</a></nav>
        <nav><a class="footer_loft_inner" href="../reviews/">Online evaluation</a></nav>
        <nav><a class="footer_loft_inner" href="../ourcomand/">Our team</a></nav>
        <nav><a class="footer_loft_inner" href="../reviews/">Blog</a></nav>
        <nav><a class="footer_loft_inner" href="../reviews/">About Us</a></nav>
        <nav><a class="footer_loft_inner" href="../reviews/">Legal Info</a></nav>
      </div>
    </div>
    <div class="footer_loft_contact">
      <div class="footer_last_title">© {{date}} «KUPIM», official website, all rights reserved.</div>
      <div class="loft_lof_contact_img">
        <a href="#"><img class="loft_contact_img" src="/assets/img/global/instagram.svg" alt="Instagram"></a>
        <a href="#"><img class="loft_contact_img" src="/assets/img/global/facebook.svg" alt="Facebook"></a>
        <a href="#"><img class="loft_contact_img" src="/assets/img/global/youTube.svg" alt="YouTube"></a>
      </div>
    </div>
  </div>
</div>